<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>pic_CWplant1</key>
            <dict>
                <key>frame</key>
                <string>{{104,753},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>pic_CWplant10</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{64,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{64,127}</string>
            </dict>
            <key>pic_CWplant11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{162,91}</string>
            </dict>
            <key>pic_CWplant12</key>
            <dict>
                <key>frame</key>
                <string>{{131,111},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>pic_CWplant13</key>
            <dict>
                <key>frame</key>
                <string>{{112,651},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pic_CWplant13_chaogonglv</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pic_CWplant14</key>
            <dict>
                <key>frame</key>
                <string>{{241,206},{79,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>pic_CWplant15</key>
            <dict>
                <key>frame</key>
                <string>{{114,562},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>pic_CWplant3</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>pic_CWplant4</key>
            <dict>
                <key>frame</key>
                <string>{{226,611},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>pic_CWplant5</key>
            <dict>
                <key>frame</key>
                <string>{{316,692},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>pic_CWplant6</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>pic_CWplant7</key>
            <dict>
                <key>frame</key>
                <string>{{232,410},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>pic_CWplant8</key>
            <dict>
                <key>frame</key>
                <string>{{418,709},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>pic_plant1</key>
            <dict>
                <key>frame</key>
                <string>{{440,246},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>pic_plant10</key>
            <dict>
                <key>frame</key>
                <string>{{464,110},{40,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{40,134}</string>
            </dict>
            <key>pic_plant101</key>
            <dict>
                <key>frame</key>
                <string>{{166,58},{51,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{51,130}</string>
            </dict>
            <key>pic_plant102</key>
            <dict>
                <key>frame</key>
                <string>{{104,808},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>pic_plant103</key>
            <dict>
                <key>frame</key>
                <string>{{429,602},{81,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>pic_plant104</key>
            <dict>
                <key>frame</key>
                <string>{{314,788},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>pic_plant105</key>
            <dict>
                <key>frame</key>
                <string>{{429,510},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>pic_plant106</key>
            <dict>
                <key>frame</key>
                <string>{{116,473},{87,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{87,111}</string>
            </dict>
            <key>pic_plant107</key>
            <dict>
                <key>frame</key>
                <string>{{122,188},{117,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,65}</string>
            </dict>
            <key>pic_plant108</key>
            <dict>
                <key>frame</key>
                <string>{{434,402},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>pic_plant109</key>
            <dict>
                <key>frame</key>
                <string>{{434,456},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>pic_plant10_2</key>
            <dict>
                <key>frame</key>
                <string>{{429,660},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>pic_plant11</key>
            <dict>
                <key>frame</key>
                <string>{{322,57},{140,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,85}</string>
            </dict>
            <key>pic_plant13</key>
            <dict>
                <key>frame</key>
                <string>{{412,811},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>pic_plant14</key>
            <dict>
                <key>frame</key>
                <string>{{240,351},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>pic_plant15</key>
            <dict>
                <key>frame</key>
                <string>{{229,510},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>pic_plant16</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>pic_plant3</key>
            <dict>
                <key>frame</key>
                <string>{{464,57},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>pic_plant4</key>
            <dict>
                <key>frame</key>
                <string>{{193,797},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>pic_plant5</key>
            <dict>
                <key>frame</key>
                <string>{{240,264},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>pic_plant6</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{154,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,54}</string>
            </dict>
            <key>pic_plant7</key>
            <dict>
                <key>frame</key>
                <string>{{438,303},{97,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>pic_plant8</key>
            <dict>
                <key>frame</key>
                <string>{{254,111},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{93,66}</string>
            </dict>
            <key>wp_10001</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{118,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10003</key>
            <dict>
                <key>frame</key>
                <string>{{317,586},{110,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10004</key>
            <dict>
                <key>frame</key>
                <string>{{322,256},{114,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10005</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{112,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10006</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10007</key>
            <dict>
                <key>frame</key>
                <string>{{318,368},{114,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10008</key>
            <dict>
                <key>frame</key>
                <string>{{317,478},{106,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10009</key>
            <dict>
                <key>frame</key>
                <string>{{122,255},{116,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10010</key>
            <dict>
                <key>frame</key>
                <string>{{322,144},{116,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10011</key>
            <dict>
                <key>frame</key>
                <string>{{118,359},{112,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_10012</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wp_zashugen</key>
            <dict>
                <key>frame</key>
                <string>{{214,709},{86,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BotanyIcon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>BotanyIcon.png</string>
        </dict>
    </dict>
</plist>