<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>pic_box10_1</key>
            <dict>
                <key>frame</key>
                <string>{{186,366},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box10_2</key>
            <dict>
                <key>frame</key>
                <string>{{246,184},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box10_3</key>
            <dict>
                <key>frame</key>
                <string>{{186,488},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box10_4</key>
            <dict>
                <key>frame</key>
                <string>{{186,610},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box10_5</key>
            <dict>
                <key>frame</key>
                <string>{{186,732},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box11_1</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>pic_box11_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>pic_box11_3</key>
            <dict>
                <key>frame</key>
                <string>{{124,366},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>pic_box11_4</key>
            <dict>
                <key>frame</key>
                <string>{{124,548},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>pic_box11_5</key>
            <dict>
                <key>frame</key>
                <string>{{124,730},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>pic_box1_1</key>
            <dict>
                <key>frame</key>
                <string>{{552,490},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_box1_2</key>
            <dict>
                <key>frame</key>
                <string>{{552,552},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_box1_3</key>
            <dict>
                <key>frame</key>
                <string>{{552,614},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_box1_4</key>
            <dict>
                <key>frame</key>
                <string>{{552,676},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_box1_5</key>
            <dict>
                <key>frame</key>
                <string>{{614,612},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_box2_1</key>
            <dict>
                <key>frame</key>
                <string>{{184,912},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>pic_box2_2</key>
            <dict>
                <key>frame</key>
                <string>{{428,916},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>pic_box2_3</key>
            <dict>
                <key>frame</key>
                <string>{{550,916},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>pic_box2_4</key>
            <dict>
                <key>frame</key>
                <string>{{794,490},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>pic_box2_5</key>
            <dict>
                <key>frame</key>
                <string>{{856,550},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>pic_box3_1</key>
            <dict>
                <key>frame</key>
                <string>{{794,124},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>pic_box3_2</key>
            <dict>
                <key>frame</key>
                <string>{{308,306},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>pic_box3_3</key>
            <dict>
                <key>frame</key>
                <string>{{794,246},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>pic_box3_4</key>
            <dict>
                <key>frame</key>
                <string>{{430,368},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>pic_box3_5</key>
            <dict>
                <key>frame</key>
                <string>{{794,368},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>pic_box4_1</key>
            <dict>
                <key>frame</key>
                <string>{{306,854},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box4_2</key>
            <dict>
                <key>frame</key>
                <string>{{428,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box4_3</key>
            <dict>
                <key>frame</key>
                <string>{{550,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box4_4</key>
            <dict>
                <key>frame</key>
                <string>{{672,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box4_5</key>
            <dict>
                <key>frame</key>
                <string>{{856,184},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box5_1</key>
            <dict>
                <key>frame</key>
                <string>{{428,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box5_2</key>
            <dict>
                <key>frame</key>
                <string>{{550,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box5_3</key>
            <dict>
                <key>frame</key>
                <string>{{672,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box5_4</key>
            <dict>
                <key>frame</key>
                <string>{{856,306},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box5_5</key>
            <dict>
                <key>frame</key>
                <string>{{308,428},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box6_1</key>
            <dict>
                <key>frame</key>
                <string>{{308,550},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box6_2</key>
            <dict>
                <key>frame</key>
                <string>{{308,672},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box6_3</key>
            <dict>
                <key>frame</key>
                <string>{{428,794},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box6_4</key>
            <dict>
                <key>frame</key>
                <string>{{550,368},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box6_5</key>
            <dict>
                <key>frame</key>
                <string>{{672,368},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box7_1</key>
            <dict>
                <key>frame</key>
                <string>{{856,428},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box7_2</key>
            <dict>
                <key>frame</key>
                <string>{{430,550},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box7_3</key>
            <dict>
                <key>frame</key>
                <string>{{430,672},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box7_4</key>
            <dict>
                <key>frame</key>
                <string>{{550,794},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box7_5</key>
            <dict>
                <key>frame</key>
                <string>{{672,490},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic_box8_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box8_2</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box8_3</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box8_4</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box8_5</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box9_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box9_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box9_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box9_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>pic_box9_5</key>
            <dict>
                <key>frame</key>
                <string>{{124,184},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BotanyGrid.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>BotanyGrid.png</string>
        </dict>
    </dict>
</plist>