<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie1_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{140,384},{72,97}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{299,343},{78,107}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{471,310},{88,115}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{652,276},{98,123}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{832,233},{106,131}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{160,270},{112,137}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{872,109},{122,145}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{332,211},{130,137}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{136,129}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{508,189},{142,119}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{686,161},{144,113}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{150,105}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{156,97}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{170,175},{160,93}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{344,124},{162,85}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{520,110},{164,77}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{166,69}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{350,59},{168,63}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{174,112},{168,61}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{170,57}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,57}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,55}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,55}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,53}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,51}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{698,55},{172,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{524,57},{172,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{698,108},{172,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{176,59},{172,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{176,59},{172,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>zombie1_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{503,492},{92,82}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{190,575},{90,82}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{684,462},{90,84}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{94,680},{86,84}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{686,376},{84,88}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{506,400},{80,90}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{76,92}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{239,423},{72,94}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{335,423},{70,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{875,341},{68,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{875,411},{68,96}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{70,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{407,466},{72,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{588,446},{74,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{196,497},{76,92}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{96,602},{76,90}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{76,86}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{276,689},{78,82}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{90,766},{78,80}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{158,846},{78,76}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{158,926},{78,76}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{80,76}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{80,879},{80,76}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{182,747},{80,78}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{78,80}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{372,618},{78,84}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{474,586},{76,86}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{76,90}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{96,526},{74,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{587,522},{72,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{777,341},{70,96}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{588,376},{68,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{776,413},{66,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{408,400},{64,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{100,458},{66,94}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{70,92}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{382,540},{76,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{282,605},{82,88}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{188,659},{86,86}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>zombie1_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{290,519},{90,84}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie1.png</string>
        </dict>
    </dict>
</plist>