<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie4_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{479,744},{105,95}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{567,636},{105,101}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{107,117}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{276,686},{105,153}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,177}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,187}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{123,183}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{185,356},{135,171}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{351,841},{145,143}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{282,529},{151,109}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{185,686},{155,89}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{185,529},{155,95}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{310,163},{155,109}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{111,901},{155,115}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{155,103}}</string>
                <key>offset</key>
                <string>{-9,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{268,843},{155,81}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{159,57}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{249,173},{163,59}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{169,65}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{188,181},{171,59}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{63,376},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{63,551},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{63,726},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{124,376},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{127,181},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{124,551},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{124,726},{173,59}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{173,197}</string>
            </dict>
            <key>zombie4_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{102,82}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{829,88},{102,82}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{700,214},{104,82}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{496,841},{104,82}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{485,528},{106,84}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{106,86}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{479,636},{106,86}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{512,267},{106,88}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{104,90}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{697,108},{104,90}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{676,841},{102,92}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{669,430},{100,92}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{688,730},{96,94}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{859,412},{94,94}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{768,632},{96,94}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{816,314},{96,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{769,518},{96,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{763,420},{96,94}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{670,632},{96,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{718,320},{96,98}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{784,214},{96,98}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{669,532},{98,98}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{586,743},{100,96}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{580,841},{102,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{603,110},{104,92}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{393,528},{106,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{322,320},{108,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{383,682},{108,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{322,430},{106,96}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{534,375},{104,96}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{430,428},{102,98}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{571,481},{104,96}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{602,218},{104,96}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{416,320},{106,94}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{421,159},{106,90}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{106,90}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{513,110},{106,88}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{104,86}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{632,324},{104,84}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>zombie4_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{102,84}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie4.png</string>
        </dict>
    </dict>
</plist>