<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie16_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{688,650},{106,104}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{580,552},{106,110}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{108,124}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{352,328},{108,154}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{118,180}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,188}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{128,186}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{140,174}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{148,144}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{382,160},{152,110}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{268,514},{156,92}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{200,686},{156,102}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{264,170},{156,116}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{112,892},{156,122}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{156,110}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{270,844},{156,90}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{284,328},{156,66}}</string>
                <key>offset</key>
                <string>{-10,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{304,672},{156,68}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{210,352},{160,72}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{200,520},{164,66}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{132,184},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{68,556},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{68,724},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{134,556},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{134,724},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{144,352},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{198,184},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{166,64}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>zombie16_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{562,927},{104,95}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{668,927},{104,95}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{590,664},{106,95}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{590,772},{106,95}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{688,551},{108,97}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{798,622},{108,97}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{760,441},{108,99}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{864,212},{108,101}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{108,103}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{908,622},{106,103}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{904,727},{104,103}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{374,728},{100,105}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{760,334},{102,105}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{795,822},{104,103}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{864,315},{108,101}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{861,521},{108,99}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{110,97}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{662,236},{110,95}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{661,386},{110,97}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{561,274},{110,99}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{599,124},{110,99}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{560,438},{112,99}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{481,558},{114,97}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{463,438},{118,95}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{362,830},{120,91}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{120,95}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{462,314},{122,97}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{362,484},{122,99}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{494,152},{120,103}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{374,608},{118,105}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{455,830},{114,105}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{481,674},{110,107}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{700,114},{108,107}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{108,105}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{873,107},{108,103}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{759,224},{108,103}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{864,418},{108,101}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{796,721},{106,99}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{687,756},{106,97}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>zombie16_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{774,927},{104,95}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie16.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie16.png</string>
        </dict>
    </dict>
</plist>