<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie25_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{260,1630},{125,98}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{138,1173},{133,106}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{150,957},{139,114}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{304,904},{143,120}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{155,825},{147,130}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{321,764},{147,138}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{145,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{167,680},{143,152}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{151,142}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{350,634},{157,128}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{163,114}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{179,572},{169,106}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{175,96}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{197,484},{185,86}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{193,72}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{203,418},{199,64}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{199,66}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{205,228},{201,68}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{205,156},{201,70}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{205,80},{201,74}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,78}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{201,74}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{201,70}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{201,66}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{201,62}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{205,298},{201,58}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{205,358},{201,58}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{205,358},{201,58}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{205,358},{201,58}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>zombie25_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{274,1126},{134,96}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{134,98}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{291,1026},{134,98}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{132,98}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{410,1126},{132,100}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{132,100}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{132,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{408,136},{130,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{408,268},{130,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{408,400},{128,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{384,530},{126,102}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{400,1520},{126,100}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{266,1528},{126,100}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{130,1689},{124,100}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{124,98}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{256,1730},{124,98}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{387,1648},{122,96}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{254,1830},{122,96}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{128,1891},{122,94}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,1917},{122,94}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{376,1940},{122,92}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{378,1844},{122,94}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{252,1928},{122,94}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{382,1746},{124,96}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{128,1791},{124,98}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,1817},{124,98}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{132,1587},{126,100}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,1615},{126,100}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{407,1260},{128,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{404,1390},{128,102}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{128,100}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{136,1383},{130,100}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,1411},{130,100}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{268,1426},{130,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{134,1485},{130,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{273,1224},{132,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{136,1281},{132,100}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{270,1326},{132,98}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{138,1073},{134,98}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>zombie25_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{134,98}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie25.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>textureFileName</key>
            <string>zombie25.png</string>
        </dict>
    </dict>
</plist>