<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie3_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{550,300},{66,88}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{282,186},{74,100}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{436,156},{80,112}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{854,268},{90,124}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{144,174},{100,136}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{106,148}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{906,130},{116,136}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{728,146},{124,122}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{126,112}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{134,102}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{764,52},{140,92}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{302,52},{140,84}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{140,72}}</string>
                <key>offset</key>
                <string>{-9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{140,64}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{444,52},{140,54}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{586,54},{140,50}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{444,108},{140,46}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{294,138},{140,46}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{586,106},{140,48}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{142,48}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{144,50}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{146,48}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{148,48}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{150,48}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{154,46}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,46}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,46}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,46}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,46}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,46}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zombie3_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{263,447},{75,83}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{77,83}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{399,398},{77,83}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{89,420},{79,83}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{641,156},{77,85}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{641,235},{75,85}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{475,238},{73,87}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{550,156},{71,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{550,229},{69,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{728,270},{67,89}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{384,238},{67,89}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{282,262},{69,87}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{371,307},{69,87}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{460,327},{69,87}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{69,85}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{71,83}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{348,477},{73,81}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{259,524},{73,81}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{887,510},{75,77}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{808,437},{77,75}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{79,75}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{727,408},{79,73}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{897,360},{79,73}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{897,435},{79,73}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{816,360},{79,75}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{172,550},{79,77}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{87,576},{77,79}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{484,437},{75,81}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{87,501},{73,83}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{640,312},{71,85}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{225,333},{69,85}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{67,85}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{549,368},{67,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{727,339},{67,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{312,378},{67,85}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{638,385},{65,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{176,404},{67,85}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{89,349},{69,85}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{138,276},{71,85}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zombie3_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{174,473},{75,83}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie3.png</string>
        </dict>
    </dict>
</plist>