<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie12_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{223,467},{94,99}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{722,69},{98,109}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{102,117}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{104,125}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{112,133}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{137,267},{130,121}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{148,125}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{370,134},{160,139}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{550,61},{170,121}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{182,103}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{186,53},{182,85}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{370,53},{178,79}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{184,65}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{190,57}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{196,49}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{202,49}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,49}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>zombie12_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{202,662},{91,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{102,685},{91,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{91,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{424,476},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{370,372},{93,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{736,364},{93,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{574,365},{93,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{532,184},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{370,275},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{121,390},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{833,69},{97,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{833,168},{97,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{104,487},{97,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{97,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{269,267},{99,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{269,367},{99,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{926,267},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{472,378},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{838,368},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{676,459},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{573,460},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{777,466},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{674,557},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{878,466},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{775,564},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{876,564},{99,96}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{324,467},{97,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{204,563},{97,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{102,586},{97,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{722,169},{97,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{824,267},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{634,268},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{472,281},{95,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{304,566},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{524,558},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{404,571},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{304,661},{93,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>zombie12_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{202,755},{91,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie12.png</string>
        </dict>
    </dict>
</plist>