<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie18_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{112,91}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{858,472},{110,99}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{363,901},{110,121}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{390,178},{104,159}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{112,183}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,193}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{124,189}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{254,184},{134,177}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{365,703},{144,145}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{154,111}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{379,363},{160,89}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{286,537},{164,97}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{254,731},{168,109}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{262,363},{172,115}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{174,103}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{201,551},{178,83}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{203,369},{178,57}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{180,61}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{180,73}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{180,71}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{65,752},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{75,570},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{128,752},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{77,388},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{138,570},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{191,752},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{128,187},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{140,369},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{191,187},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{180,61}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{186,205}</string>
            </dict>
            <key>zombie18_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{939,275},{111,82}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{745,363},{111,82}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{858,388},{111,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{742,232},{113,82}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{766,117},{113,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{113,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{575,509},{113,84}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{654,234},{113,86}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{826,275},{111,86}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{873,95},{111,88}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{716,633},{109,88}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{850,185},{111,88}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{588,119},{113,88}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{246,934},{115,88}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{113,88}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{511,694},{113,92}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{856,573},{109,96}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{745,531},{109,100}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{827,671},{105,102}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{605,726},{103,104}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{567,831},{103,104}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{672,831},{103,104}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{716,723},{105,102}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{605,624},{109,100}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{477,579},{113,96}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{115,92}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{125,934},{119,88}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{121,88}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{475,850},{121,90}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{385,525},{121,90}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{470,339},{121,90}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{496,158},{119,90}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{477,462},{115,90}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{562,279},{113,90}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{569,394},{113,88}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{678,117},{113,86}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{113,86}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{659,349},{113,84}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{745,447},{111,82}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>zombie18_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{661,464},{111,82}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie18.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie18.png</string>
        </dict>
    </dict>
</plist>