<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie13_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{145,824},{94,140}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{632,528},{108,152}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{126,168}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{196,476},{148,178}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{444,410},{168,186}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{692,344},{182,192}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{192,186}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{240,304},{202,170}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{482,258},{208,150}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{728,206},{222,136}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{244,172},{236,130}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{236,120}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{488,146},{238,110}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{242,100}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{242,80}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,76}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{242,74}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{242,68}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{736,72},{242,66}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{734,140},{240,64}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{492,78},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{240,66}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{244,200}</string>
            </dict>
            <key>zombie13_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{407,1020},{123,127}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{127,127}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{699,919},{127,127}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{553,955},{127,127}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{125,129}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{750,796},{121,131}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{886,344},{117,133}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{886,463},{111,133}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{885,576},{105,137}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{607,737},{97,141}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{786,528},{97,143}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{376,580},{97,143}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{630,638},{97,143}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{147,725},{97,141}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{883,883},{97,139}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{884,683},{99,137}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{287,873},{99,133}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{133,1021},{101,129}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{103,125}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{521,580},{107,121}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{828,982},{107,119}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{536,1084},{107,117}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{393,1145},{107,117}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{682,1048},{107,119}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{775,673},{107,121}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{131,1124},{105,125}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{276,974},{103,129}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{141,920},{99,133}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{884,784},{97,137}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{97,141}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{172,626},{97,143}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{95,143}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{317,679},{95,143}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{462,703},{95,143}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{290,776},{95,141}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{97,137}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{433,800},{105,133}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{422,907},{111,129}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{568,836},{117,129}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
            <key>zombie13_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{264,1079},{121,127}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{175,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie13.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>zombie13.png</string>
        </dict>
    </dict>
</plist>