<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie7_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{735,614},{113,107}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{523,376},{119,117}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{875,501},{123,127}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{875,372},{127,133}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{736,372},{129,137}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{131,141}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{163,340},{137,145}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{786,227},{143,153}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{372,326},{149,141}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{581,245},{153,129}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{159,115}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{203,235},{167,103}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{404,233},{175,91}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{599,164},{185,79}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{404,164},{193,67}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{806,158},{199,67}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{203,89},{199,71}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{199,71}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{203,162},{199,71}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{404,87},{199,75}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,81}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,89}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,85}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,83}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,81}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{605,85},{199,77}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{199,71}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{806,85},{199,71}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{806,85},{199,71}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{806,85},{199,71}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>zombie7_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{145,479},{118,107}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{118,107}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{430,495},{118,107}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{310,469},{118,109}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{242,689},{116,109}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{116,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{550,495},{116,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{503,608},{114,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{360,717},{114,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{238,800},{114,111}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{476,721},{112,111}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{354,830},{112,111}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{850,626},{110,109}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{735,723},{110,107}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{590,727},{110,107}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{468,834},{110,105}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{814,844},{108,103}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{692,939},{108,101}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{912,954},{108,99}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{924,844},{108,97}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{578,941},{108,97}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{578,1040},{108,97}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{688,1042},{108,97}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{468,941},{108,99}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{802,949},{108,101}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{580,836},{110,103}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{847,737},{110,105}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{702,832},{110,105}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{112,107}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{236,913},{112,109}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{118,921},{112,109}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{120,808},{114,111}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{114,111}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{619,614},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{385,604},{116,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{120,697},{116,109}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{116,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{668,503},{116,109}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{265,580},{118,107}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>zombie7_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{122,588},{118,107}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>zombie7.png</string>
        </dict>
    </dict>
</plist>