<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie10_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{162,504},{107,132}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{328,494},{111,146}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{117,158}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{772,72},{121,172}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{208,135},{125,182}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{131,194}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,204}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{143,190}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{596,72},{147,174}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{350,339},{153,162}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{514,365},{157,150}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{167,364},{159,138}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{891,342},{161,126}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{392,223},{163,114}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{185,262},{163,100}}</string>
                <key>offset</key>
                <string>{-12,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{772,195},{165,86}}</string>
                <key>offset</key>
                <string>{-12,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{946,173},{167,76}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{392,147},{165,74}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{559,221},{165,74}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{163,74}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{163,68}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{722,351},{163,64}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{726,283},{163,66}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{557,297},{163,66}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{169,68}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{175,68}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{179,68}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{181,68}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{181,68}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{189,214}</string>
            </dict>
            <key>zombie10_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{598,827},{108,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{476,845},{108,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{121,827},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{359,837},{106,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{476,517},{106,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{296,607},{106,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{794,505},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{595,523},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{415,625},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{673,417},{104,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{243,715},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{121,721},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{119,937},{104,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{104,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{355,945},{104,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{119,1043},{104,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{104,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{713,827},{104,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{826,827},{104,111}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{913,505},{104,109}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{470,955},{104,109}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{351,1051},{104,109}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{232,1141},{104,109}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{713,933},{104,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{591,937},{104,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{236,1035},{104,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{770,721},{104,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{887,721},{104,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{714,611},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{534,629},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{362,731},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{240,821},{104,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{124,613},{106,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{106,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{238,927},{106,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{833,611},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{653,717},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>zombie10_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{481,735},{108,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie10.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>zombie10.png</string>
        </dict>
    </dict>
</plist>