<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie19_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{516,348},{82,96}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{490,256},{90,110}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{98,126}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{346,228},{106,142}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{744,136},{112,156}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{180,198},{118,164}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{570,136},{118,172}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{900,334},{122,152}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{166,318},{134,134}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{902,188},{144,116}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{744,250},{154,104}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{162,94}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{378,138},{170,88}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{176,78}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{184,70}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,64}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,66}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{188,62}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{188,64}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,66}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{570,68},{186,66}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{762,66},{186,68}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{382,68},{186,68}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{186,66}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{190,70},{186,64}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{190,136},{186,60}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{186,54}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{186,54}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{186,54}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{186,54}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>zombie19_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{340,532},{91,93}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{799,651},{93,93}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{894,664},{93,93}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{702,536},{91,95}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{799,558},{91,95}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{808,356},{89,99}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{89,101}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{107,545},{87,103}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{302,429},{87,105}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{409,348},{89,105}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{602,256},{91,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{302,336},{91,105}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{130,454},{89,103}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{899,488},{87,99}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{615,531},{85,97}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{435,618},{85,91}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{87,91}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{87,89}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{398,705},{87,89}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{93,810},{85,87}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{307,625},{89,87}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{200,696},{89,87}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{291,714},{89,85}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{95,721},{89,87}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{186,785},{87,87}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{615,630},{85,89}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{528,618},{85,91}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{212,609},{85,93}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{105,634},{85,93}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{896,577},{85,95}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{514,531},{85,99}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{600,442},{87,101}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{89,103}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{409,439},{91,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{600,349},{91,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{235,518},{89,103}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{703,447},{87,101}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{705,356},{89,101}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{806,457},{91,99}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>zombie19_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{702,629},{91,95}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie19.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie19.png</string>
        </dict>
    </dict>
</plist>