<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie6_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{713,305},{73,103}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{596,262},{77,115}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{880,275},{87,127}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{741,202},{101,137}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{157,123},{113,147}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{119,157}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{775,71},{129,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{137,131}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{151,238},{139,119}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{306,124},{143,109}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{149,95}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{147,85}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{147,77}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{147,67}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{620,142},{145,57}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{626,81},{145,59}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{451,223},{143,57}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{306,235},{143,57}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{596,201},{143,59}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{451,160},{143,61}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{473,99},{145,59}}</string>
                <key>offset</key>
                <string>{-7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{322,63},{149,59}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{151,59}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{153,57}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{155,57}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,55}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,55}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,55}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,55}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,55}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{159,187}</string>
            </dict>
            <key>zombie6_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{105,521},{87,97}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{89,97}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{906,595},{89,97}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{210,450},{89,97}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{922,93},{89,99}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{922,184},{89,99}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{399,361},{87,101}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{141,359},{83,103}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{81,103}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{451,282},{77,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{292,294},{75,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{558,341},{73,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{73,101}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{818,364},{73,101}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{704,528},{73,99}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{309,450},{77,97}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{501,584},{83,93}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{97,697},{87,91}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{89,87}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{406,541},{93,87}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{101,610},{93,85}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{598,530},{93,83}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{299,614},{93,81}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{309,529},{95,83}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{501,499},{95,83}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{204,541},{93,87}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{408,450},{91,89}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{196,630},{89,91}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{85,93}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{81,97}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{603,453},{75,99}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{805,595},{73,99}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{921,364},{71,101}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{921,437},{71,101}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{663,380},{71,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{107,444},{75,101}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{246,371},{77,101}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{502,416},{81,99}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{867,510},{83,99}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>zombie6_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{766,439},{87,99}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie6.png</string>
        </dict>
    </dict>
</plist>