<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>zombie15_die_00</key>
            <dict>
                <key>frame</key>
                <string>{{625,527},{79,100}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_01</key>
            <dict>
                <key>frame</key>
                <string>{{657,268},{85,110}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_02</key>
            <dict>
                <key>frame</key>
                <string>{{137,338},{95,118}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_03</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{103,126}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_04</key>
            <dict>
                <key>frame</key>
                <string>{{288,303},{111,130}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_05</key>
            <dict>
                <key>frame</key>
                <string>{{523,250},{119,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_06</key>
            <dict>
                <key>frame</key>
                <string>{{304,176},{125,140}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{133,132}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_08</key>
            <dict>
                <key>frame</key>
                <string>{{147,214},{139,122}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{143,114}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_10</key>
            <dict>
                <key>frame</key>
                <string>{{875,107},{147,106}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_11</key>
            <dict>
                <key>frame</key>
                <string>{{155,114},{147,98}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{151,92}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_13</key>
            <dict>
                <key>frame</key>
                <string>{{851,215},{155,86}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_14</key>
            <dict>
                <key>frame</key>
                <string>{{688,186},{161,80}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_15</key>
            <dict>
                <key>frame</key>
                <string>{{523,174},{163,74}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_16</key>
            <dict>
                <key>frame</key>
                <string>{{692,116},{165,68}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_17</key>
            <dict>
                <key>frame</key>
                <string>{{354,112},{167,62}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_18</key>
            <dict>
                <key>frame</key>
                <string>{{523,112},{167,60}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_19</key>
            <dict>
                <key>frame</key>
                <string>{{704,58},{169,56}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_20</key>
            <dict>
                <key>frame</key>
                <string>{{354,58},{173,52}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_21</key>
            <dict>
                <key>frame</key>
                <string>{{529,58},{173,52}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_22</key>
            <dict>
                <key>frame</key>
                <string>{{179,58},{173,54}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_23</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{175,54}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_24</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{175,54}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,54}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_26</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{177,54}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_27</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{177,54}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{175,54}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_die_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{175,54}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{179,148}</string>
            </dict>
            <key>zombie15_move_00</key>
            <dict>
                <key>frame</key>
                <string>{{420,386},{99,90}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{97,90}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_02</key>
            <dict>
                <key>frame</key>
                <string>{{922,551},{95,90}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_03</key>
            <dict>
                <key>frame</key>
                <string>{{312,648},{93,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_04</key>
            <dict>
                <key>frame</key>
                <string>{{569,608},{91,94}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_05</key>
            <dict>
                <key>frame</key>
                <string>{{469,533},{89,98}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_06</key>
            <dict>
                <key>frame</key>
                <string>{{629,438},{87,102}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_07</key>
            <dict>
                <key>frame</key>
                <string>{{137,435},{85,104}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_08</key>
            <dict>
                <key>frame</key>
                <string>{{657,355},{81,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_09</key>
            <dict>
                <key>frame</key>
                <string>{{521,371},{77,106}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_10</key>
            <dict>
                <key>frame</key>
                <string>{{257,416},{77,106}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{79,104}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_12</key>
            <dict>
                <key>frame</key>
                <string>{{521,450},{81,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{83,100}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_14</key>
            <dict>
                <key>frame</key>
                <string>{{212,576},{85,98}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_15</key>
            <dict>
                <key>frame</key>
                <string>{{835,461},{85,96}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_16</key>
            <dict>
                <key>frame</key>
                <string>{{204,663},{85,92}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_17</key>
            <dict>
                <key>frame</key>
                <string>{{195,750},{87,88}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_18</key>
            <dict>
                <key>frame</key>
                <string>{{765,361},{89,84}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_19</key>
            <dict>
                <key>frame</key>
                <string>{{665,620},{89,80}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_20</key>
            <dict>
                <key>frame</key>
                <string>{{407,717},{89,76}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_21</key>
            <dict>
                <key>frame</key>
                <string>{{298,742},{89,76}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_22</key>
            <dict>
                <key>frame</key>
                <string>{{543,701},{89,78}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_23</key>
            <dict>
                <key>frame</key>
                <string>{{769,268},{91,80}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{89,82}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_25</key>
            <dict>
                <key>frame</key>
                <string>{{933,461},{89,88}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_26</key>
            <dict>
                <key>frame</key>
                <string>{{101,686},{85,92}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_27</key>
            <dict>
                <key>frame</key>
                <string>{{727,535},{83,96}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_28</key>
            <dict>
                <key>frame</key>
                <string>{{104,601},{83,98}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_29</key>
            <dict>
                <key>frame</key>
                <string>{{733,452},{81,100}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_30</key>
            <dict>
                <key>frame</key>
                <string>{{365,478},{79,102}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_31</key>
            <dict>
                <key>frame</key>
                <string>{{108,522},{77,102}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_32</key>
            <dict>
                <key>frame</key>
                <string>{{446,282},{73,102}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_33</key>
            <dict>
                <key>frame</key>
                <string>{{851,303},{71,104}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_34</key>
            <dict>
                <key>frame</key>
                <string>{{446,176},{75,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_35</key>
            <dict>
                <key>frame</key>
                <string>{{243,495},{79,102}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_36</key>
            <dict>
                <key>frame</key>
                <string>{{851,376},{83,100}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_37</key>
            <dict>
                <key>frame</key>
                <string>{{347,559},{87,98}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_38</key>
            <dict>
                <key>frame</key>
                <string>{{447,624},{91,94}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
            <key>zombie15_move_39</key>
            <dict>
                <key>frame</key>
                <string>{{825,548},{95,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{137,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie15.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>zombie15.png</string>
        </dict>
    </dict>
</plist>