<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>skill_100001</key>
            <dict>
                <key>frame</key>
                <string>{{323,650},{71,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_100002</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{55,86}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_100003</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{47,92}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_100004</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{55,86}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_100005</key>
            <dict>
                <key>frame</key>
                <string>{{185,220},{73,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_10001</key>
            <dict>
                <key>frame</key>
                <string>{{472,134},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_10002</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{61,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_10003</key>
            <dict>
                <key>frame</key>
                <string>{{396,682},{61,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_10005</key>
            <dict>
                <key>frame</key>
                <string>{{291,66},{69,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_1001</key>
            <dict>
                <key>frame</key>
                <string>{{453,745},{65,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_11</key>
            <dict>
                <key>frame</key>
                <string>{{431,302},{79,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_110001</key>
            <dict>
                <key>frame</key>
                <string>{{275,219},{85,78}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_110002</key>
            <dict>
                <key>frame</key>
                <string>{{166,508},{65,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_110003</key>
            <dict>
                <key>frame</key>
                <string>{{312,722},{69,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_110004</key>
            <dict>
                <key>frame</key>
                <string>{{246,516},{65,78}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_110005</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{93,84}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_12</key>
            <dict>
                <key>frame</key>
                <string>{{291,137},{87,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_120001</key>
            <dict>
                <key>frame</key>
                <string>{{261,299},{83,70}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_120002</key>
            <dict>
                <key>frame</key>
                <string>{{346,374},{83,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_120003</key>
            <dict>
                <key>frame</key>
                <string>{{172,373},{83,56}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_120004</key>
            <dict>
                <key>frame</key>
                <string>{{87,383},{83,56}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_120005</key>
            <dict>
                <key>frame</key>
                <string>{{383,134},{87,82}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_130001</key>
            <dict>
                <key>frame</key>
                <string>{{431,384},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_130002</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{73,66}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_130003</key>
            <dict>
                <key>frame</key>
                <string>{{403,614},{73,66}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_130004</key>
            <dict>
                <key>frame</key>
                <string>{{346,302},{83,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_130005</key>
            <dict>
                <key>frame</key>
                <string>{{256,441},{73,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_140001</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{83,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_140002</key>
            <dict>
                <key>frame</key>
                <string>{{246,583},{75,70}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_140003</key>
            <dict>
                <key>frame</key>
                <string>{{162,638},{75,70}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_140004</key>
            <dict>
                <key>frame</key>
                <string>{{176,295},{83,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_140005</key>
            <dict>
                <key>frame</key>
                <string>{{199,66},{77,90}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_150001</key>
            <dict>
                <key>frame</key>
                <string>{{85,507},{79,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_150002</key>
            <dict>
                <key>frame</key>
                <string>{{87,307},{83,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_150003</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{83,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_150004</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{79,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_150005</key>
            <dict>
                <key>frame</key>
                <string>{{97,88},{77,88}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,100}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_20001</key>
            <dict>
                <key>frame</key>
                <string>{{326,574},{75,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_20003</key>
            <dict>
                <key>frame</key>
                <string>{{346,440},{83,58}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_20004</key>
            <dict>
                <key>frame</key>
                <string>{{80,651},{75,66}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_20005</key>
            <dict>
                <key>frame</key>
                <string>{{380,218},{85,82}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_2001</key>
            <dict>
                <key>frame</key>
                <string>{{301,790},{61,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_30001</key>
            <dict>
                <key>frame</key>
                <string>{{136,910},{59,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_30002</key>
            <dict>
                <key>frame</key>
                <string>{{356,878},{59,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_30003</key>
            <dict>
                <key>frame</key>
                <string>{{281,911},{59,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_30005</key>
            <dict>
                <key>frame</key>
                <string>{{187,145},{73,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_3001</key>
            <dict>
                <key>frame</key>
                <string>{{157,710},{71,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_40001</key>
            <dict>
                <key>frame</key>
                <string>{{467,218},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_40002</key>
            <dict>
                <key>frame</key>
                <string>{{220,795},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_40003</key>
            <dict>
                <key>frame</key>
                <string>{{145,842},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_40004</key>
            <dict>
                <key>frame</key>
                <string>{{467,218},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_40005</key>
            <dict>
                <key>frame</key>
                <string>{{172,431},{75,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_4001</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{81,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_50001</key>
            <dict>
                <key>frame</key>
                <string>{{83,583},{77,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_50002</key>
            <dict>
                <key>frame</key>
                <string>{{340,500},{81,72}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_50003</key>
            <dict>
                <key>frame</key>
                <string>{{423,540},{81,72}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_50005</key>
            <dict>
                <key>frame</key>
                <string>{{389,51},{81,90}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_5001</key>
            <dict>
                <key>frame</key>
                <string>{{289,853},{65,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_60001</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{61,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_60002</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{93,62}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_60003</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{93,62}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_60004</key>
            <dict>
                <key>frame</key>
                <string>{{166,575},{61,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_60005</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{93,84}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_6001</key>
            <dict>
                <key>frame</key>
                <string>{{371,810},{67,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_70001</key>
            <dict>
                <key>frame</key>
                <string>{{214,863},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_70002</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{81,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_70003</key>
            <dict>
                <key>frame</key>
                <string>{{85,441},{81,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_70004</key>
            <dict>
                <key>frame</key>
                <string>{{77,719},{67,70}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_70005</key>
            <dict>
                <key>frame</key>
                <string>{{431,462},{79,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_7001</key>
            <dict>
                <key>frame</key>
                <string>{{230,727},{69,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_80001</key>
            <dict>
                <key>frame</key>
                <string>{{440,812},{67,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_80002</key>
            <dict>
                <key>frame</key>
                <string>{{149,778},{69,62}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_80003</key>
            <dict>
                <key>frame</key>
                <string>{{74,788},{69,62}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_80004</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{69,62}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_80005</key>
            <dict>
                <key>frame</key>
                <string>{{90,236},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_8001</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{65,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_90001</key>
            <dict>
                <key>frame</key>
                <string>{{383,745},{63,68}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_90002</key>
            <dict>
                <key>frame</key>
                <string>{{261,371},{83,68}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_90003</key>
            <dict>
                <key>frame</key>
                <string>{{69,899},{65,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_90004</key>
            <dict>
                <key>frame</key>
                <string>{{239,655},{71,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_90005</key>
            <dict>
                <key>frame</key>
                <string>{{97,167},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_9001</key>
            <dict>
                <key>frame</key>
                <string>{{440,876},{67,62}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SkillIcons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>SkillIcons.png</string>
        </dict>
    </dict>
</plist>