<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>pic_ditu10zhuan_1</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu10zhuan_2</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu10zhuan_3</key>
            <dict>
                <key>frame</key>
                <string>{{84,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu10zhuan_4</key>
            <dict>
                <key>frame</key>
                <string>{{146,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu1zhuan_1</key>
            <dict>
                <key>frame</key>
                <string>{{84,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu1zhuan_2</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu1zhuan_3</key>
            <dict>
                <key>frame</key>
                <string>{{130,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_ditu1zhuan_4</key>
            <dict>
                <key>frame</key>
                <string>{{130,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_tianqi4_zhuankuai1</key>
            <dict>
                <key>frame</key>
                <string>{{130,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_tianqi4_zhuankuai2</key>
            <dict>
                <key>frame</key>
                <string>{{130,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_tianqi4_zhuankuai3</key>
            <dict>
                <key>frame</key>
                <string>{{130,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_tianqi4_zhuankuai4</key>
            <dict>
                <key>frame</key>
                <string>{{130,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_zhalan_qian</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceSize</key>
                <string>{568,80}</string>
            </dict>
            <key>pic_zhalan_you</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{44,803}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,803}</string>
            </dict>
            <key>pic_zhalan_zuo</key>
            <dict>
                <key>frame</key>
                <string>{{84,188},{44,803}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,803}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapAdorn.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>textureFileName</key>
            <string>MapAdorn.png</string>
        </dict>
    </dict>
</plist>